/* 
  Name: Daniel Chung
  Student number: 137605192
  Course: WEB222-NEE
  Date: 27/07/20
*/

:root {
  --accent-colour: #ffa9df;
  --button-colour: rgba(0, 0, 0, 0.06);
  --contrast-colour: white;
  --footer-colour: rgba(40, 40, 40);
  --main-colour: black;
  --shadow-colour: rgba(0, 0, 0, 0.15);
  --min-width: 250px;
  --max-width: 1000px;
  --plain-font: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
    Verdana, sans-serif;
  --sub-font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  --title-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --button-transition: all 200ms ease-in;
  --octagon-transition: all 500ms ease-in;
  font-size: 12pt;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
}

body {
  width: 100%;
}

header {
  width: 100%;
  background-color: var(--main-colour);
  font-family: var(--title-font);
  text-align: center;
  padding: 2em 0 1em 0;
}

header > * {
  display: block;
}

h1 {
  font-size: 30pt;
}

header > h1 > a {
  color: var(--contrast-colour);
  text-decoration: none;
}

header > #logo {
  display: inline-block;
  width: 10em;
  height: 10em;
  background: linear-gradient(315deg, transparent, var(--accent-colour) 100%);
  border-radius: 50%;
  margin-bottom: 1em;
}

header > #logo > a {
  display: block;
  width: 100%;
  height: 100%;
}

header > #logo > a > img {
  position: absolute;
  width: 95%;
  height: 95%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  border-radius: 50%;
}

nav {
  width: 100%;
  background-color: var(--main-colour);
  text-align: center;
  padding-top: 1.25em;
  box-shadow: 0 4px 4px 0 var(--shadow-colour);
}

div.gradient-trim {
  width: 100%;
  height: 4px;
  margin-top: 1em;
}

nav > div.gradient-trim {
  background: linear-gradient(90deg, var(--main-colour), var(--accent-colour) 100%);
}

nav > ul {
  display: inline;
}

nav > ul > li {
  list-style-type: none;
  display: inline-block;
  padding: 0.5em 1.5em;
  margin: 0.5em 0;
  border-right: 1px solid var(--main-colour);
  font-family: var(--sub-font);
}

nav > ul > li:last-child {
  border-right: none;
}

nav > ul > li::before {
  position: absolute;
  transform: translateX(-150%) translateY(-60%);
  content: ' ';
  width: 0;
  height: 0.75em;
  border: 0.75em solid transparent;
}

nav > ul > li::after {
  position: absolute;
  transform: translateX(50%) translateY(40%);
  content: ' ';
  width: 0;
  height: 0.75em;
  border: 0.75em solid transparent;
}

nav > ul > li:hover::before {
  transform: translateX(-150%) translateY(-10%);
  border-right: 0.75em solid var(--accent-colour);
  transition: var(--octagon-transition);
}

nav > ul > li:hover::after {
  transform: translateX(50%) translateY(-10%);
  border-left: 0.75em solid var(--accent-colour);
  transition: var(--octagon-transition);
}

nav > ul > li > span {
  color: var(--contrast-colour);
  cursor: pointer;
  font-size: 16pt;
}

nav > ul > li > span:hover {
  color: var(--accent-colour);
  border-bottom: 1px solid var(--accent-colour);
  transition: color 100ms ease-in;
}

.active {
  border-bottom: 1px solid var(--accent-colour);
  color: var(--accent-colour);
  font-weight: bold;
}

.dropdown-title {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(3px);
  z-index: 1;
  min-width: fit-content;
  list-style-type: none;
  text-align: left;
}

.dropdown-content > li {
  padding: 0.5em 1em;
  color: var(--main-colour);
  display: block;
}

.dropdown-content > li > span {
  cursor: pointer;
  font-family: var(--sub-font);
  font-size: 14pt;
}

.dropdown-content > li > span:hover {
  border-bottom: 1px solid var(--main-colour);
}

.dropdown-title:hover .dropdown-content {
  width: fit-content;
  height: fit-content;
  display: block;
}

.hidden {
  display: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

main > section {
  text-align: center;
  margin: 2em;
  min-width: var(--min-width);
  max-width: var(--max-width);
}

main > section > h2 {
  font-family: var(--sub-font);
  font-size: 20pt;
  margin: 1em;
}

.flex-div {
  display: inline-flex;
  min-width: var(--min-width);
  max-width: var(--max-width);
  flex-wrap: wrap;
  flex: 1 1 0;
  align-content: space-between;
  align-items: flex-start;
  justify-content: space-evenly;
  margin: 2em;
}

.card {
  font-family: var(--plain-font);
  margin: 1em;
  width: var(--min-width);
  box-shadow: 1px 1px 1px 0 var(--shadow-colour);
}

.cover-art,
.photo {
  width: 100%;
}

section.blurb {
  margin: 1em;
}

section.blurb > section.meta {
  margin-bottom: 1em;
}

section.blurb > section.meta > h3 {
  font-variant: small-caps;
  font-size: 16pt;
}

section.blurb > section.meta > p {
  font-size: 0.8em;
}

section.blurb > section.description {
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid var(--accent-colour);
}

section.blurb > section.description > a {
  display: block;
  margin-top: 1em;
  padding: 1em;
  color: var(--main-colour);
  background-color: var(--button-colour);
  text-decoration: none;
}

section.blurb > section.description > a:hover {
  background-color: var(--accent-colour);
  box-shadow: 1px 1px 1px 0 var(--shadow-colour);
  transition: var(--button-transition);
}

section.blurb > section.description > a::before {
  position: absolute;
  transform: translateX(-250%) translateY(-25%);
  content: ' ';
  width: 0;
  height: 0.75em;
  border: 0.75em solid transparent;
}

section.blurb > section.description > a::after {
  position: absolute;
  transform: translateX(150%) translateY(-25%);
  content: ' ';
  width: 0;
  height: 0.75em;
  border: 0.75em solid transparent;
}

section.blurb > section.description > a:hover::before {
  transform: translateX(-150%) translateY(-25%);
  border-right: 0.75em solid var(--main-colour);
  transition: var(--octagon-transition);
}

section.blurb > section.description > a:hover::after {
  transform: translateX(50%) translateY(-25%);
  border-left: 0.75em solid var(--main-colour);
  transition: var(--octagon-transition);
}

section.blurb > section.category > span::before {
  content: '#';
}

section.blurb > section.category > span::after {
  content: ' ';
}

section.blurb > section.category > span {
  font-style: italic;
  margin-right: 0.5em;
}

section.blurb > section.category > span:hover {
  cursor: pointer;
  border-bottom: 1px solid var(--main-colour);
}

main > section#about > p,
main > section#contact > p {
  display: inline-block;
  font-family: var(--plain-font);
  max-width: 40em;
}

main > section#contact > form {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 1px 1px 0 var(--shadow-colour);
}

main > section#contact > form > h3 {
  margin-top: 1em;
  font-family: var(--sub-font);
}

main > section#contact > form > input {
  margin: 0.5em;
  padding: 0.5em 1em;
  border: none;
}

main > section#contact > form > input:focus {
  outline: none;
}

main > section#contact > form > input.text-field {
  border-bottom: 1px solid var(--main-colour);
  width: 90%;
}

main > section#contact > form > input.text-field:focus {
  border-bottom: 1px solid var(--accent-colour);
  transition: var(--button-transition);
}

main > section#contact > form > input.button {
  text-transform: uppercase;
  background-color: var(--button-colour);
  width: fit-content;
}

main > section#contact > form > input.button:focus {
  border: 1px solid var(--accent-colour);
}

main > section#contact > form > input.button:hover {
  background-color: var(--accent-colour);
  box-shadow: 1px 1px 1px 0 var(--shadow-colour);
  transition: var(--button-transition);
}

body > div.gradient-trim {
  background: linear-gradient(270deg, var(--footer-colour), var(--accent-colour) 100%);
}

footer {
  text-align: center;
  background-color: var(--footer-colour);
  color: var(--contrast-colour);
  font-family: var(--sub-font);
  padding: 2em;
  width: 100%;
}

footer > .flex-div {
  min-width: 10em;
  margin: 1em;
}

footer > .flex-div > .flex-column {
  margin: 1em;
  text-align: center;
  min-width: 10em;
  max-width: 10em;
  width: 10em;
}

footer > .flex-div > .flex-column > * {
  display: block;
}

footer > a,
footer > .flex-div > .flex-column > * {
  padding: 0.3em 0;
}

footer > a,
footer > .flex-div > .flex-column > a {
  color: var(--contrast-colour);
  text-decoration: none;
}

footer > a > span:hover,
footer > .flex-div > .flex-column > a > span:hover {
  border-bottom: 1px solid var(--contrast-colour);
}
